.header {
  height: 100vh;
  background-size: cover;
  color: $color-neutral-white;

  &--home {
    background-image: url("../assets/images/illustrations/Home/Bathome1.png");
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .headings {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__paragraph {
      width: 55%;
      text-align: center;
      line-height: 150%;
      font-weight: 300;
      font-size: 2rem;

      span {
        display: block;
        margin-top: 2.4rem;
      }
    }

    &__button-box {
      margin-top: 4rem;
      display: flex;
      gap: 3.2rem;
    }
  }

  .scroll-indicator {
    text-align: center;
    font-size: 3.2rem;
  }
}