.header {
  height: 100vh;
  background-size: cover;
  color: $color-neutral-white;
  background-position: center;
  position: relative;

  .row {
    display: flex;
    flex-direction: column;
    position: relative;
    @include media(second-break) {
      padding: 0 3.2rem;
    }

    @include media(mobile) {
      padding: 0 1.2rem;
    }
  }

  &--home {
    background-image: url("../assets/images/illustrations/Home/Bathome1.png");
  }

  .headings {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include animate(leftToRight, false, 0);

    &__paragraph {
      width: 55%;
      text-align: center;
      line-height: 150%;
      font-weight: 300;
      font-size: 2rem;

      @include media(second-break) {
        width: 100%;
      }

      span {
        display: block;
        margin-top: 2.4rem;
      }
    }

    &__button-box {
      margin-top: 4rem;
      display: flex;
      gap: 3.2rem;

      @include media(second-break) {
        display: none;
      }
    }
  }

  &--game {
    background-image: url("../assets/images/illustrations/Game/Batgame1.png");

    .headings {
      justify-content: space-between;
      @include media(mobile) {
        position: relative;
      }

      h1 {
        align-self: start;
        padding: 20% 0 0 4.8rem;
        text-transform: uppercase;
        font-size: 4.6rem;
        font-family: 'Rajdhani', sans-serif;
        letter-spacing: 5px;

        @include media(second-break) {
          padding: 0;
          position: absolute;
          width: 60%;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }

  .scroll-indicator {
    text-align: center;
    font-size: 3.2rem;
  }
}