section {
  color: $color-neutral-white;

  .row {
    padding: 10rem 5.6rem 5.6rem 5.6rem;
    @include media(first-break) {
      padding: 8rem 3.8rem;
    }

    @include media(mobile) {
      padding: 8rem 1.2rem;
    }
  }
}

.section-slider {
  height: 56rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: imageSlider 60s alternate infinite ease-in-out;
  backface-visibility: hidden;

  .row {
    height: 100%;
  }
}

.section-multimedia {
  .slider {
    position: relative;
  }

  &__slide-changer {
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 50;
    @include media(mobile) {
      display: flex;
      align-items: end;
    }

    img {
      height: 3.2rem;
    }

    @include media(second-break) {
      img {
        width: 3.2rem;
      }
    }
  }

  #prev-slide {
    left: 0;
    @include media(first-break) {
      left: -8%;
    }

    @include media(mobile) {
      bottom: -5%;
      left: 20%;
    }
  }

  #next-slide {
    right: 0;
    @include media(first-break) {
      right: -8%;
    }

    @include media(mobile) {
      bottom: -5%;
      right: 20%;
    }
  }

  .video-slider {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;

    & > * {
      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: 100%;
      padding: 2.4rem 0;
    }

    &__slide {
      width: 60%;
      display: flex;
      margin: 0 auto;
      font-size: 1.2rem;
      font-weight: 300;
      gap: 1rem;
      border-radius: 1.3rem;
      background: $color-linear-bg;
      overflow: hidden;
      scroll-snap-align: center;
      @include media(first-break) {
        flex-direction: column;
      }

      @include media(second-break) {
        width: 95%;
      }

      @include media(mobile) {
        width: 100%;
      }

      &__img {
        width: 40%;
        background-size: cover;
        background-position: center;
        @include media(first-break) {
          height: 12rem;
          width: 100%;
        }

        &--1 {
          background-image: url("../assets/images/illustrations/Home/Bathome8.png");
        }

        &--2 {
          background-image: url("../assets/images/illustrations/Home/Bathome10_slide_ba.png");
        }

        &--3 {
          background-image: url("../assets/images/illustrations/Home/Bathome11_slide_ba.png");
        }
      }

      &__about {
        padding: 1.4rem;
        display: grid;
        gap: 5px;

        .genre {
          opacity: .8;
        }

        .genre, .tittle {
          text-transform: uppercase;
        }

        .simple-paragraph {
          margin-top: 1.2rem;
        }
      }
    }
  }

  .video-trailer {
    margin-top: 5.6rem;

    & > * {
      width: 100%;
    }
  }
}

.section-form {
  background: $color-linear-bg;

  .titles {
    text-align: center;
  }

  form {
    display: grid;
    gap: 4.8rem;
    width: 60%;
    margin: 5.6rem auto 0 auto;
    @include media(first-break) {
      width: 100%;
    }

    .form-group:last-child {
      text-align: center;
    }
  }
}

.section-quotes {
  .row {
    position: relative;

    & > img {
      position: absolute;
    }

    img:first-of-type {
      top: 12%;
      left: 8%;
    }

    img:last-of-type {
      bottom: 0;
      right: 8%;
    }
  }

  .quotes-box {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 6.4rem;
    @include media(first-break) {
      width: 100%;
    }

    &__quote {
      display: flex;
      overflow: hidden;
      margin-bottom: 3.2rem;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;

      @include media(second-break) {
        margin-bottom: 1.6rem;
      }

      blockquote {
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 1;
        font-size: 2.2rem;
        line-height: 160%;
        scroll-snap-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        cite {
          display: block;
          font-style: normal;
          color: $color-neutral-light-gray;
          font-size: 1.4rem;
          margin: 2.4rem auto 0 auto;
          line-height: 140%;
          width: 40%;
        }
      }
    }

    &__navigation {
      display: flex;
      gap: 1.4rem;
      justify-content: center;

      label {
        text-decoration: none;
        padding: 5px;
        display: inline-grid;
        place-items: center;
        cursor: pointer;

        input {
          appearance: none;
          -webkit-appearance: none;
          height: 1rem;
          width: 1rem;
          background-color: transparent;
          border: solid 2px $color-secondary-blue;
          border-radius: 50%;
          transition: all .3s;
          cursor: pointer;

          &:checked {
            background-color: $color-secondary-blue;
          }
        }
      }
    }
  }
}

.section-quiz {
  &--2 {
    .illustration {
      margin-top: 3.2rem;
      text-align: center;

      img {
        width: 100%;
      }
    }
  }
}