.u-text-bigger {
  font-size: 1.4em;
}

.u-text-bolder {
  font-weight: 500;
}

.u-text-margin-top {
  margin-top: 1.2rem;
}

.u-bg-dark {
  background-color: $color-bg-dark;
}

.u-text-secondary {
  color: $color-primary-yellow;
}