$color-primary-red: #b11313;
$color-primary-yellow: #ffff00;
$color-secondary-blue: #19587d;
$color-btn-primary: linear-gradient(90deg, rgba(237, 222, 191, 0.5), rgba(137, 0, 8, 0.5) 60%);
$color-btn-primary-hover: linear-gradient(90deg, rgba(237, 222, 191, 0.78), rgba(137, 0, 8, 0.78) 60%);
$color-linear-bg: linear-gradient(120deg, rgba(237, 222, 191, 0.56), rgba(25, 88, 125, 0.56));
$color-linear-bg-hover: linear-gradient(120deg, rgba(237, 222, 191, 0.78), rgba(25, 88, 125, 0.78));
$color-neutral-white: #fff;
$color-neutral-light-gray: #c4c4c4;

$subtle-border: solid 3px rgba(255, 255, 255, 0.25);
$color-bg-dark: #040101;
