.btn-link:link,
.btn-link:visited {
  color: #fff;
}

.btn {
  height: 5.2rem;
  padding: 0 2.8em;
  border: none;
  color: inherit;
  cursor: pointer;
  min-width: 14rem;
}

.btn-primary {
  background: $color-btn-primary;
  text-transform: uppercase;
  font-size: 2rem;
  transition: all .3s;

  &:hover {
    background-image: $color-btn-primary-hover;
  }
}

.gradient-btn {
  background: $color-linear-bg;
  padding: 2px;
  font-size: 1.2rem;
  transition: all .3s;

  &:hover {
    background-image: $color-linear-bg-hover;
  }

  span {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px) brightness(70%);
    -webkit-backdrop-filter: blur(5px) brightness(70%);
    padding: 0 2.8em;
  }
}