.form-group {
  &__label {
    display: block;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
  }

  select {
    color: $color-neutral-light-gray;
    margin-top: 2rem;
  }

  select + input {
    margin-top: 2rem;
  }

  input[type="text"], select {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.33);
    padding-bottom: 5px;
    font: inherit;

    &::placeholder {
      color: rgba(255, 255, 255, 0.33);
      font-weight: 300;
    }
  }

  input[type="checkbox"] {
    vertical-align: middle;
    margin-left: 8px;
  }

  .simple-paragraph {
    color: rgba(255, 255, 255, 0.33);
  }

  .btn-box {
    margin-top: 2.4rem;
    display: flex;
    gap: 2.4rem;
    justify-content: center;
  }
}