@keyframes imageSlider {
  0% {
    background-image: url("../assets/images/illustrations/Home/Batslider1.png");
  }

  10% {
    background-image: url("../assets/images/illustrations/Home/Batslider2.png");
  }

  20% {
    background-image: url("../assets/images/illustrations/Home/Batslider3.png");
  }

  30% {
    background-image: url("../assets/images/illustrations/Home/Batslider4.png");
  }

  40% {
    background-image: url("../assets/images/illustrations/Home/Batslider5.png");
  }

  50% {
    background-image: url("../assets/images/illustrations/Home/Batslider6.png");
  }

  60% {
    background-image: url("../assets/images/illustrations/Home/Batslider7.png");
  }

  70% {
    background-image: url("../assets/images/illustrations/Home/Batslider8.png");
  }

  85% {
    background-image: url("../assets/images/illustrations/Home/Batslider9.png");
  }

  100% {
    background-image: url("../assets/images/illustrations/Home/Batslider10.png");
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dezoomIn {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }

  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}