* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.row {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  max-width: 114rem;
  border: $subtle-border;
  border-block: none;
}